body { 
    background-color: thistle;
 }

 nav {
background-color: wheat;
text-align: center;
padding: 1px;

 }

 nav a {

    display: block;
    text-decoration: underline;
    background-color: khaki;

    color: black;
    padding: 10px;
    width: 30x;
    height: 30px;
   margin: auto;
    
 }