body {
    background-color: peru;

}

a {
    color: darkolivegreen;

}
a:hover { 
    color: salmon;
    text-decoration: none;

}

img {
    display: block;
    width: 50%;
    margin: 0 auto;
    border: 25px solid peru;
    border-color: peru;

}

/* mobile styles */

#container {
    margin: 0 auto;
    background: sandybrown;
    padding: 10px;
    border: 50px;
    border-color: black;
}

header h1 {
    text-align: center;
    font-size: 24px;
    color: black;
}

h2 {
    text-align: center;
}

nav {
    list-style-type: none;
    padding: 20;
}

nav ul { 
    list-style-type: none;
    padding: 20;
    text-align: center;
}


nav ul li {
    display: block;
    text-align: center;
    padding: 20;
 }

nav ul li a {
    display:  block; 
    padding: 10px;
    color:sandybrown; 
    color: darkolivegreen;
    text-decoration: none;
}

/* tablet */

@media (min-width: 768px) { 
    #container {
        width: 80%;

    }
    header h1 {
        font-size: 36px;

    }
    nav ul li { 
        display: inline;
        margin-right: 10px;

    }
    nav ul li a { 
        display: inline-block;
        padding: 10px 20px;

    }
    #upper_section {
        display: flex;
        }
}

section, aside {
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
}
